Source: cap-fmu
Section: main
Priority: optional
Maintainer: Scott Parlane <sjp@canterburyairpatrol.org>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libfss-client-ssl (>=1.2.1), libsmm-asset-dev (>= 1.1.0), libjsoncpp-dev
Standards-Version: 4.1.3

Package: cap-fmu
Architecture: any
Depends: libfss-client-ssl (>=1.2.1), libsmmasset0 (>= 1.0.0)
Description: Canterbury Air Patrol Flight Management Unit
